services:

  alloy:
    build:
      context: .
      dockerfile: Dockerfile.alloy
    volumes:
      - ./config.alloy:/etc/alloy/test.alloy
    ports:
      - "12345:12345"
      - "4317:4317"
      - "4318:4318"
    command: ["run", "--server.http.listen-addr=0.0.0.0:12345", "--storage.path=/var/lib/alloy/data", "/etc/alloy/test.alloy"]

  redis:
    extends:
      file: docker-compose.yml
      service: redis

  postgresql:
    extends:
      file: docker-compose.yml
      service: postgresql

  api:
    extends:
      file: docker-compose.yml
      service: api
    image: sp1-cluster-local:api
    pull_policy: build
    env_file: .env
    build:
      context: ..
      dockerfile: infra/Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    command: ["/bin/sh", "-c", "/api"]
    depends_on:
      - alloy
      - redis
      - postgresql
    # ports:
    #   - "127.0.0.1:50051:50051"
      # - "127.0.0.1:3000:3000"

  coordinator:
    extends:
      file: docker-compose.yml
      service: coordinator
    image: sp1-cluster-local:coordinator
    pull_policy: build
    env_file: .env
    build:
      context: ..
      dockerfile: infra/Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    command: ["/bin/sh", "-c", "/coordinator"]

  # mixed:
  #   extends:
  #     file: docker-compose.yml
  #     service: mixed
  #   image: sp1-cluster-local:mixed
  #   pull_policy: build
  #   env_file: .env
  #   build:
  #     context: ..
  #     dockerfile: infra/Dockerfile.node_gpu
  #     args:
  #       GITHUB_TOKEN: ${GITHUB_TOKEN}
  #   command: ["/bin/sh", "-c", "/app/sp1-cluster-node"]
  #   runtime: nvidia

  cpu-node:
    extends:
      file: docker-compose.yml
      service: cpu-node
    image: sp1-cluster-local:cpu-node
    pull_policy: build
    env_file: .env
    build:
      context: ..
      dockerfile: infra/Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    command: ["/bin/sh", "-c", "/node"]

  gpu0:
    extends:
      file: docker-compose.yml
      service: gpu0
    image: sp1-cluster-local:gpu
    pull_policy: build
    env_file: .env
    build:
      context: ..
      dockerfile: infra/Dockerfile.node_gpu
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    command: ["/bin/sh", "-c", "/app/sp1-cluster-node"]

  gpu1:
    environment:
      - CUDA_VISIBLE_DEVICES=1
    extends: gpu0

  gpu2:
    environment:
      - CUDA_VISIBLE_DEVICES=2
    extends: gpu0

  gpu3:
    environment:
      - CUDA_VISIBLE_DEVICES=3
    extends: gpu0

  # gpu4:
  #   environment:
  #     - CUDA_VISIBLE_DEVICES=4
  #   extends: gpu0

  # gpu5:
  #   environment:
  #     - CUDA_VISIBLE_DEVICES=5
  #   extends: gpu0

  # gpu6:
  #   environment:
  #     - CUDA_VISIBLE_DEVICES=6
  #   extends: gpu0

  # gpu7:
  #   environment:
  #     - CUDA_VISIBLE_DEVICES=7
  #   extends: gpu0

  # fulfiller:
  #   extends:
  #     file: docker-compose.yml
  #     service: fulfiller
  #   image: sp1-cluster-local:fulfiller
  #   pull_policy: build
  #   build:
  #     context: ..
  #     dockerfile: infra/Dockerfile
  #   command: ["/bin/sh", "-c", "/fulfiller"]

  # bidder:
  #   extends:
  #     file: docker-compose.yml
  #     service: bidder
  #   image: sp1-cluster-local:bidder
  #   pull_policy: build
  #   build:
  #     context: ..
  #     dockerfile: infra/Dockerfile
  #   command: ["/bin/sh", "-c", "/bidder"]

volumes:
  redis_data:
  postgresql_data:
