/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 100%;
  flex: 1;
  background-color: white;
}

.heroContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroText {
  max-width: 600px;
  color: black;
  flex: 1;
}

.heroGraphic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.heroImage {
  display: block;
}

@media screen and (max-width: 768px) {  /* Adjust breakpoint as needed */
  .heroImage {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroContent {
    flex-direction: column;
  }
}